.header {
  max-width: 400px;
  height: 100vh;
  background-color: blue;
}

.header__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title img {
  width: 150px;
}

.header__title h2 {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
}

.nav__list {
	display: flex;
	flex-direction: column;
	gap: 25px;
	font-size: 20px;
}

.nav__item {
	cursor: pointer;
}