.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-wrapper,
.footer-wrapper,
.contents-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.contents-wrapper {
  margin-top: 3rem;
  margin-bottom: 2rem;
  flex: 1;
  line-height: 1.5;
  font-size: 16px;
}

.contents-wrapper .content {
  padding-left: 3rem;
  padding-right: 3rem;
}
